/* accordion */
.accordion{width:160px;overflow:hidden;margin:10px;}
/*.l-accordion-panel{ border:1px solid #d0d0d0;}*/
.l-accordion-toggle{
	position:absolute;
	top:2px;
	right:4px;
	height:20px;
	width:20px;
	overflow:hidden;
	background:url('../images/layout/togglebar.gif');
	cursor:pointer;}
.l-accordion-toggle-close{ background-position:0px 0px;}
.l-accordion-toggle-close-over{ background-position:0px -20px;}
.l-accordion-toggle-open{ background-position:0px -40px;}
.l-accordion-toggle-open-over{ background-position:0px -60px;} 
.accordion .l-accordion-header{
	position:relative;
	padding-left:10px;
	color:#333;
	font-weight:bold;
	font-size:12px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	cursor:pointer;}
.l-accordion-header-over{background:#d8ecf9;} 
.l-accordion-content{
	position:relative;
	overflow:auto;
	font-size:12px;
	background:#fff;}

.l-layout-left .l-accordion-panel{ border-left:none; border-right:none;  }