/* 任务栏 */
.l-taskbar{
	background:#3BAAE3;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: -36px;
	display: none;
	z-index: 11000;}
.l-taskbar-tasks{ width:100%; margin-top:2px;}
.l-taskbar-task{  height:26px; line-height:26px;overflow:hidden; margin:2px; float:left; margin-left:2px; position:relative; cursor:pointer; background-repeat:repeat-x;}
.l-taskbar-task{ background-image:url('../images/win/taskbar-task.gif'); border:1px solid #676F7F;}
.l-taskbar-task-icon{
	position: absolute;
	left: 5px;
	top: 3px;
	width: 24px;
	height: 25px;
	overflow: hidden;
	background: url('../images/icon/icon_task.png') 0 -20px no-repeat;} 
.l-taskbar-task-content{ margin-left:27px; color:White; font-weight:bold; margin-right:10px;}
.l-taskbar-task-over{ border-color:#A7ADB5;background-position:0px -30px;}
.l-taskbar-task-active{border-color:#D8ECF9;background-position:0px -60px; }
.l-taskbar{_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _background-image:url('../images/win/taskbar.gif');}
.l-taskbar-top{ bottom:auto; top:0px; background-color:White; padding-bottom:1px; border-bottom:1px solid #687079;}
.l-taskbar-top{_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
/* ------------------
   *   messagebox  *
* --------------- */
.l-messagebox{ position:absolute;top:100px; left:100px; width:300px; background:#F2F8FF;border-bottom:1px solid #82BCD8;z-index: 9001;  }

.l-messagebox-title,.l-messagebox-close,.l-messagebox-close-over,.l-messagebox-btn,.l-messagebox-btn-l,.l-messagebox-btn-r,.l-messagebox-lt,.l-messagebox-rt
{background-image:url('../images/win/box.gif'); background-repeat:no-repeat;} 
.l-messagebox .l-messagebox-title{ background-repeat:repeat-x;}

.l-messagebox-title{height:21px; line-height:21px; color:White; font-weight:bold; background-position:0px -99px;}

.l-messagebox-image{ width:35px; height:35px; overflow:hidden; display:none; position:absolute; top:30px; left:15px;background:url('../images/win/box-icons.gif') no-repeat;}
.l-messagebox-image-donne{background-position:0px 0px; }
.l-messagebox-image-error{background-position:0px -115px; }
.l-messagebox-image-question{background-position:0px -70px;height:45px; }
.l-messagebox-image-warn{background-position:0px -35px; }
.l-messagebox-title-inner{ padding-left:10px;}
.l-messagebox-content{ padding-left:20px; padding-top:10px;padding-bottom:20px;}
.l-messagebox-buttons{ height:30px; position:relative; text-align:center; margin-top:4px;}
.l-messagebox-buttons-inner{ margin-left:10px;}
.l-messagebox-close{ width:13px; height:13px; overflow:hidden; position:absolute; right:4px;top:4px;  cursor:pointer; background-position:-8px -24px;}
.l-messagebox-close-over{background-position:-8px -37px;}
.l-messagebox-lt{width:3px; height:3px; overflow:hidden;position:absolute; top:0; left:0; z-index:12;background-position:0px -48px;}
.l-messagebox-rt{width:3px; height:3px; overflow:hidden; position:absolute; top:0; right:0;z-index:12;background-position:-4px -48px;}
.l-messagebox-l{ background:#82BCD8; width:1px; height:100%; position:absolute; top:0px; left:0px;overflow:hidden; }
.l-messagebox-r{ background:#82BCD8; width:1px; height:100%; position:absolute; top:0px; right:0px; overflow:hidden; } 
 
.l-messagebox-btn{ height:24px; overflow:hidden;background:url('../images/win/box.gif') repeat-x; width:70px; line-height:24px; cursor:pointer; position:relative; float:left; margin-left:5px;} 
.l-messagebox-btn-inner{ text-align:center;}

/* --------------
   *   window  *
* ------------ */
.l-window-mask{position:absolute;left:0;top:0;width:100%;height:100%; filter:alpha(opacity=25);opacity:0.25;background:#666;display1:none;font-size:1px; *zoom:1;overflow:hidden; display:none;z-index: 9000;}
.l-window-mask-nobackground{ position:absolute;left:0;top:0;width:100%;height:100%; display1:none;font-size:1px; *zoom:1;overflow:hidden; display:none;z-index: 9000;}
.l-window-dragging{filter:alpha(opacity=80);opacity:0.80;}
.l-window-dragging .l-window-content{visibility:hidden;}
.l-window{ position:absolute; border:1px solid #AFCCF1;background:#F5F8F9;z-index: 9100;left:0; top:0;margin:0;padding:0;  }
.l-window-header{ position:relative;padding-left:10px; color:#183152; font-weight:bold;height:25px; line-height:24px;  background:#E2EDFE url('../images/panel/panel-header.gif') repeat-x; overflow:hidden;}
.l-window-header-buttons{position:absolute; top:3px; right:3px; height:20px; }
.l-window-toggle{float:left;height:16px; width:16px; overflow:hidden; background:url('../images/panel/panel-tools.gif');background-position:0px 0px; cursor:pointer; margin-left:5px; }
.l-window-min{float:left;height:16px; width:16px; overflow:hidden; background:url('../images/panel/panel-tools.gif');background-position:-16px 0px; cursor:pointer; margin-left:5px; }
.l-window-max{float:left;height:16px; width:16px; overflow:hidden; background:url('../images/panel/panel-tools.gif');background-position:-16px -16px; cursor:pointer; margin-left:5px; }
.l-window-regain{float:left;height:16px; width:16px; overflow:hidden; background:url('../images/panel/panel-tools.gif');background-position:-32px -16px; cursor:pointer; margin-left:5px; }
.l-window-toggle-close{background-position:0px -16px;}
.l-window-close{float:left;height:16px; width:16px; overflow:hidden; background:url('../images/panel/panel-tools.gif');background-position:-32px 0px; cursor:pointer; margin-left:5px; }
.l-window-content{  overflow:hidden; width:100%;}
.l-window-content-scroll{ overflow:scroll;}
.l-window-content iframe{border:none; width:100%; height:100%;}

 /* --------------
   *   dialog  *
* ------------ */ 
.l-dialog{ position:absolute;z-index: 10000;  padding:0; margin:0;border: 1px solid #BED5F3;border-radius: 5px;box-shadow: 0 1px 6px rgba(99,99,99,.3);} 
.l-dialog table{ table-layout:auto; background:#D8ECF9;}
.l-dialog-fixed
{
    position:fixed; right:4px; bottom:-100px;
    _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
.l-dialog-table{ }
.l-dialog-body{ position:relative; overflow:hidden;}
.l-dialog{ padding:0; margin:0;} 
.l-dialog td,.l-dialog tr,.l-dialog td div{ } 
.l-dialog-cc{ background:white;}
.l-dialog-tl,.l-dialog-tr,.l-dialog-bl,.l-dialog-br,.l-dialog-cl,.l-dialog-cr{width:0px; background:none;padding:0;margin:0;} 
.l-dialog-tl,.l-dialog-tc,.l-dialog-tr{ height:26px;}
.l-dialog-bl,.l-dialog-bc,.l-dialog-br{ height:0px;background:none;padding:0;margin:0;}

.l-dialog-tl{ background:none;border-bottom: 1px solid #EFF7FD;}
.l-dialog-tc{font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;background-color:#D8ECF9; padding-left: 10px;}
.l-dialog-tr{background:none;border-bottom: 1px solid #EFF7FD;}
.l-dialog-bl{background:none;}
.l-dialog-bc{background:none;}
.l-dialog-br{background:none;}
.l-dialog-cl{background:none;}
.l-dialog-cr{background:none;}
.l-dialog-cl{background:none;}
.l-dialog-cl,.l-dialog-cc,.l-dialog-cr{border-top: 1px solid #BED5F3;}

.l-dialog-winbtns{ position:absolute;right:0px; top:4px; height:16px;}
.l-dialog-winbtn {
	cursor: pointer;
	float: right;
	height: 16px;
	margin-right: 4px;
	overflow: hidden;
	width: 17px;
	background-attachment: scroll;
	background-image: url(../images/form/dialog-winbtns.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.l-dialog-close{background-position:-85px 0px;}
.l-dialog-close-over{background-position:-85px -16px;}
.l-dialog-close-disabled{background-position:-24px -32px; cursor:default;}
.l-dialog-min{ background-position:0px 0px;}
.l-dialog-min-over{background-position:0px -16px;}
.l-dialog-min-disabled{background-position:0px -32px;cursor:default;}
.l-dialog-max{background-position:-17px 0px;}
.l-dialog-max-over{background-position:-17px -16px;}
.l-dialog-max-disabled{background-position:-17px -32px;cursor:default;}
.l-dialog-recover{background-position:-34px 0px;}
.l-dialog-recover-over{background-position:-34px -16px;}
.l-dialog-recover-disabled{background-position:-34px -32px;cursor:default;}

.l-dialog-collapse{background-position:-51px 0px;}
.l-dialog-collapse-over{background-position:-51px -16px;}
.l-dialog-collapse-disabled{background-position:-51px -32px;cursor:default;}
.l-dialog-extend{background-position:-68px 0px;}
.l-dialog-extend-over{background-position:-68px -16px;}
.l-dialog-extend-disabled{background-position:-68px -32px;cursor:default;}

.l-dialog-tc-inner{ position:relative;height:26px; line-height:26px; width:100%;  }
.l-dialog-title {  color:#2779AA;font-weight:bold; font-weight:700; text-shadow:none; padding-left:3px; padding-right:20px; text-align:left; padding-top:0px;} 

.l-dialog-content{ padding-left:18px; padding-top:14px;padding-bottom:12px; overflow:auto;} 
.l-dialog-content-noimage {padding:10px 0 10px 10px;}
.l-dialog-content-dragging iframe { }
.l-dialog-win .l-dialog-content{ position:relative; overflow:hidden;}
.l-dialog-content-nopadding{ padding:0;}
.l-dialog-content iframe {border: none;width: 100%;height: 100%;}
.l-dialog-image{ width:48px; height:48px; overflow:hidden; display:none; position:absolute; top:10px; left:10px;background:url('../../images/dialog-icons.png') no-repeat;}
.l-dialog-image-donne{ background-position:0px 0px; }
.l-dialog-image-error{ background-position:0px -48px; }
.l-dialog-image-question{ background-position:0px -144px; }
.l-dialog-image-warn{ background-position:0px -96px; }

.l-dialog-image-loading{ background:white url('../images/common/loading2.gif') no-repeat center; width:28px; height:28px;}
.l-dialog-buttons-inner{}
.l-dialog-btn-l,.l-dialog-btn-r{display:none;}
.l-dialog-buttons
{
    padding: 4px 8px;
    text-align:center;
    white-space: nowrap;
    border-top: 1px solid #BED5F3;
    background: #EFF7FD;
    /*border-radius: 0 0 2px 2px;
	background: -moz-linear-gradient(top, #fcfcfc, #f4f4f4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f4f4f4));
    background: -o-linear-gradient(top, #fcfcfc, #f4f4f4);
    background: -ms-linear-gradient(top, #fcfcfc 0%,#f4f4f4 100%);
    background: linear-gradient(top, #fcfcfc, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4');*/
}
.l-dialog-btn{
    display: inline-block;
    zoom: 1;
	margin: 0 2px;
    /*border: 1px solid #BED5F3;
    border-radius: 2px;
    background: #D8ECF9;
    vertical-align: middle;
    cursor: pointer;
    color: #4D94BE666;
	overflow: hidden;
	line-height: 20px;
	position: relative;
	margin: 0 5px;
    padding: 0 12px;
	
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background: -moz-linear-gradient(top, #ffffff, #f4f4f4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f4f4f4));
    background: -o-linear-gradient(top, #ffffff, #f4f4f4);
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: linear-gradient(top, #ffffff, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');*/
}
.l-dialog-btn:hover{ background:#696969;}
.l-dialog-btn-highlight {
border: 1px solid #3279a0;
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
background: #337fa9;
background: -moz-linear-gradient(top, #4994be, #337fa9);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be), to(#337fa9));
background: -o-linear-gradient(top, #4994be, #337fa9);
background: -ms-linear-gradient(top, #4994be 0%,#337fa9 100%);
background: linear-gradient(top, #4994be, #337fa9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be', endColorstr='#337fa9');
font-weight: bold;
color: #fff;
text-shadow: 0 2px 2px rgba(0,0,0,0.22);}
 .l-dialog-btn:hover{
    background: #f4f4f4;
    color: #555;
}
.l-dialog-btn-highlight:hover
{
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
	background: #3286b4;
	color: #fff;}
.l-dialog-content-frame {overflow:hidden;}

.l-dialog-btn-inner{ text-align:center;}

.l-dialog-inputtext{ width:280px; border:1px solid #BED5F3; line-height:23px; height:25px;}
.l-dialog-textarea{ width:280px; border:1px solid #BED5F3;  height:80px;}

.l-messagebox-btn {background-position:0px 0px;}
.l-messagebox-btn-over { background-position:0px -51px;}
 
.l-messagebox-btn-l { height:24px; position:absolute; left:0px; top:0px; width:4px;background-position:0px -24px;}
.l-messagebox-btn-over .l-messagebox-btn-l {background-position:0px -75px;}
.l-messagebox-btn-r { height:24px; position:absolute; right:0px; top:0px; width:4px;background-position:-4px -24px;}
.l-messagebox-btn-over .l-messagebox-btn-r {background-position:-4px -75px;}

/* 选择窗口,填充模式,隐藏滚动条 */
.l-selectorwin .l-dialog-content {overflow:hidden; padding:0px;}
.l-selectorwin .l-dialog-content .l-form {margin:0; padding:2px; background:#EAF2FF;border-bottom: 1px solid #AECAF0;}
.l-selectorwin .l-dialog-buttons {margin-top: 0;}
.l-selectorwin .l-panel {border:0;}

/* 移动弹出窗口 */
.l-draggable{ overflow:hidden; border-style:solid; border-width:1px; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:0; left:0; z-index:14000; background:#f2f1f1; border-color:#AED0EA;}
.l-dragging-mask {
    width:100%;height:100%; overflow:hidden; position:absolute;top:0px; left:0px; z-index:11000; display:none;  filter: Alpha
(opacity=1);background:white; -moz-opacity:.01;opacity:0.01;}

/* 弹出窗口底部 */
.target{
	overflow-x:hidden;
	overflow-y:auto;
	height:350px;
	margin-top:-10px;}
.d-button {
    background-color: #EFF7FD;
    bottom: 0;
    height: 22px;
    left: 0;
    overflow: hidden;
    padding: 5px 35px;
    position: absolute;
    right: 0;
    text-align: center;
    vertical-align: middle;}
/* 气泡提示 */
.l-validate-error{color:red;}
.l-validate-warn{color:orange;}
.l-verify-tip{ padding:0; margin:0;position:absolute; display:block;}
.l-verify-tip-corner{ padding:0; margin:0;position:absolute;background:url(../images/form/verify-corner.gif) no-repeat; width:8px; line-height:9px; height:9px; overflow:hidden; top:5px; left:0px; z-index:10001;}
.l-verify-tip-content{margin:0; position:absolute; left:7px;top:0px;border:1px solid #FFC340; background:#FFFCC7; z-index:10000; padding:4px 8px;font-size:12px;} 
.l-verify-tip-content a.cla{position:absolute; top:-5px; right:-5px; width:16px; height:16px;background-image:url(../../images/form/error.png)}

.tip{ width:200px;height:20px;margin:40px;padding:10px;background:#EFF7FD;border:1px solid #AED0EA; }








