.ranking{
	float:left;
	width:23%;
	margin:10px 0 0 15px;
	overflow:hidden;
	position:relative;}
.ranking h1{
	position:absolute;
	top:0;
	left:0;
	height:27px;
	line-height:31px;
	font-size:14px;
	color:#2779AA;}
.ranking ul{
	height:28px;
	border-bottom:1px solid #AED0EA;
	border-right: 1px solid #AED0EA;}
.ranking ul li{
	height:27px;
	line-height:27px;
	float:right;
	border:1px solid #AED0EA;
	border-right:none;
	margin-bottom: -1px;
	background: #EFF7FD;
	overflow: hidden;
	position: relative;}
.ranking ul li a{
	display: block;
	padding:0 10px;
	border:1px solid #fff;
	outline: none;
	font-size:12px;
	color:#666;}
.ranking ul li.thistab a{
	color:#333;}
.ranking ul li a:hover{background: #D8ECF9}
.ranking ul li.thistab,.ranking ul li.thistab a:hover{
	background:#fff;
	border-bottom:1px solid #fff;}
.tab_conbox{}
.tab_conbox dd:hover, .tab_conbox dd.even:hover{
	background-color:#D8ECF9;}
.tab_conbox dd.even{
	background-color: #EFF7FD;}
.tab_conbox dd span{
	font-size:12px;
	height:26px;
	line-height:26px;
	color:#666;
	display:inline-block;}
.tab_conbox dd span.pnomber{
	font-size:12px;
	float:left;
	color:#999;
	width:10px;
	text-align:center;
	vertical-align:middle;
	margin-left:10px;}
.tab_conbox dd span.pname{
	float:left;
	font-weight:bold;
	margin-left:10px;}
.tab_conbox dd span.pai1{
	color:#ff3300;}
.tab_conbox dd span.pai2{
	color:#ff6600;}
.tab_conbox dd span.pai3{
	color:#ff9900;}
.tab_conbox dd span.pdata{
	float:right;
	text-align:right;
	padding-right:10px;}
.tab_conbox dd span.units{
	float:right;
	text-align:left;
	width:30px;}
.tab_con{display:none;}	
.tab_con dl{ float:left; width:49.9%;}
.tab_con dd{overflow:hidden;}