@CHARSET "UTF-8";

.analyse{
	margin-top:10px;
	margin-left:1px;
	margin-right:1px;
	border:solid 1px #395c9f;
	background-color:rgba(0,12,62,0.5);
	padding:5px;
	font-size:10px;
	
}
.analyse ul li{
	list-style:none;
	float:left;
}

.analyse span.w90{
	width: 90px;
    display: inline-block;
    text-align: right;
}

.analyse span.fwd{
	font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}

.analyse-box{
	position:relative; 
	border:1px solid #235cb1;
	line-height:30px;
	margin-left:5px;
}

.analyse-chart{
	border:1px solid #235cb1;
	background-color: rgba(0,12,62,0.5)
}

.analyse-box .header{
	border-bottom:1px solid #235cb1;
	background-color:rgba(27,34,78,0.5);
	height:30px;
	font-size:14px;
	font-weight:bold;
}

.analyse-box .body{
	padding:5px;
	background-color: rgba(0,12,62,0.5);
	font-size:14px;
}



span.cred { color:#E44747}
span.cyellow{ color:#FF9900}
span.cblue { color:#45B0E4}
span.cgreen { color:#28A622}
span.cpurple{ color:#FF00FF}
span.cblack{ color:#000000}
