<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" 
	   xmlns:tx="http://www.springframework.org/schema/tx" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:cache="http://www.springframework.org/schema/cache"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/cache 
		http://www.springframework.org/schema/cache/spring-cache.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/task  
        http://www.springframework.org/schema/task/spring-task-3.1.xsd  
		http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
		default-autowire="byName">
	
       <!-- 定时任务 start -->
       <task:annotation-driven/>
       <context:annotation-config/>  
        <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
       <context:component-scan base-package="quartz"/> 
       <bean id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
               <property name="ignoreUnresolvablePlaceholders" value="true" /> 
        </bean> 
       <!-- 定时任务 end -->
       
       <context:component-scan base-package="com.github.xupei.simple" />
       <context:annotation-config />  
       <mvc:annotation-driven />
       
   		
	   	<!-- 引入ehcache缓存开始 -->
	   	<cache:annotation-driven cache-manager="cacheManager" />  
		<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">  
	        <property name="cacheManager" ref="ehcache"></property>  
	    </bean>  
		<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
	        <property name="configLocation" value="classpath:ehcache-setting.xml"></property>  
	    </bean>  
	    <!-- 引入ehcache缓存结束 -->
     
       <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	       <property name="prefix" value="/" />
	       <property name="suffix" value=".jsp" />
	   </bean>
	   <!--  <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login/login.do"/>
            <mvc:exclude-mapping path="ws://*"/>
            <mvc:exclude-mapping path="/nodesoap/insert.do"/>
            <bean id="loginInterceptor" class="com.simple.dispatch.interceptor.CommonInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>  -->

	<!-- dubbo 服务配置 -->
	<!-- 提供方应用信息，用于计算依赖关系,这个和client没必要一致 -->
	<dubbo:application name="demo-provider">
		<dubbo:parameter key="qos.enable" value="true"/>
		<dubbo:parameter key="qos.accept.foreign.ip" value="false"/>
		<dubbo:parameter key="qos.port" value="22222"/>
	</dubbo:application>

    

    <!--<dubbo:application name="hello-myapp" />  -->
    
  
     <!-- 本机 伪集群 测试 -->       
     <dubbo:registry  protocol="zookeeper"  address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183"  />  
     <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="20880" />    
    
   

    
  
    
   
   
	 <import resource="classpath:dubbo-*.xml"/>
</beans>